---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import QuickLinks from '../components/QuickLinks.astro';

const subtitleSectionText=`The world of AI is fascinating — and evolving at an incredible pace.
It can feel overwhelming at times, so this space is where I document my explorations, experiments, and thoughts. Let's tame the beast!`

const aboutSectionText = [`I'm a software developer with a bit of experience 😉. I've worked on front-end, back-end, full-stack — and now I'm diving into AI.`,
`I spent a decade building enterprise software for large companies.`,
`Now it's time to build solutions!`]


---

<Layout title="Tomasz Trela - Home">
  <div class="space-y-8">
    <HeroSection 
      title="Hi, I'm Software Developer"
      subtitle={subtitleSectionText}
    />

    <AboutSection 
      title="About Me"
      descriptions={aboutSectionText}
      techStack={[
        "Java/Spring",
        "Python", 
        "GCP/AWS",
        "AI/ML",
        "SQL/BigTable/PubSub",
        "VectorDB"
      ]}
    />

    <QuickLinks 
      title="Quick Links"
      links={[
        {
          title: "Blog",
          description: "Read my thoughts on technology and development",
          href: "/blog"
        },
        {
          title: "GitHub",
          description: "Follow my open-source contributions",
          href: "https://github.com/trelatomasz"
        },
        {
          title: "TheNextBigThing",
          description: "// TODO: link to a project that makes a difference",
          href: "/nextBigThing"
        },
      ]}
    />
  </div>
</Layout> 